<body background="./../assets/bg3.jpg">
  
  <div id="wrapper">
    <div class="header">
      <div>
        <img id="logo" src="./../assets/logo.png" title="" alt="logo">
      
      </div>

      <div class="signup ">
        <button type="button" class="btn btn-warning" name="signup">
          Sign Up
        </button>
     
      </div>
    <br>
      <div id="font">
          chAngIng fOr thE bEttEr
        </div>
      
    </div>
    <div class="clear"></div>
    <div class="menu" >
        <ul >
          <li class="list"><a routerLink="home">Home</a></li>
          <li class="list"><a routerLink="fields">Fields</a>
            <ul class="dropdown">
            
              <li><a href="#">Electronics</a></li>
              <li><a href="#">Mechanical</a></li>
              <li><a href="#">Electrical</a></li>
            
            </ul></li>
          <li class="list"><a routerLink="whatsnew">What's New</a></li>
          <li class="list"><a routerLink="bucketlist">Bucket list</a></li>
          <li class="list"><a routerLink="form">Form</a></li>
        </ul>
        
      </div>
      <div class="output">
      <router-outlet></router-outlet>
      </div>
      
  </div>
  
</body>